* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Chilly";
  font-size: large;
}

body {
  background-color: black;
  background-image: url('https://cdn.pixabay.com/photo/2022/10/09/02/16/haunted-house-7508035_1280.jpg');
  background-size: cover;

  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dark-mode {
  background-image: url('./assets/img/scarygirl.png');
  color: white;

}

header {
  margin-top: 1px;
  margin-left: 8px;

  height: 150px;

}

/* site name + home link in header  */
.headertitle {
  text-decoration: none;
}

.headertitle h1 {
  text-decoration: none;
  color: black;

  text-align: right;
  margin-right: 150px;
  margin-top: -30px;

  font-family: "Bloody";
  font-size: 80px;

}

/* subheader until header pg title  */
.subheader {
  text-align: right;
  margin-right: 150px;
  margin-bottom: 40px;
}

.darkmode-btn {
  color: white;
  background-color: rgb(50, 69, 111);
  border: none;
  padding: 10px;
  border-radius: 5px 5px;
  opacity: 0.7;
  margin-top: 60%;
}

.darkmode-btn:hover {
  opacity: 1;
}

/* nav bar  */
.sidenav {
  height: 100%;
  width: 225px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  transition: .5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
}

.navlink:hover {
  color: gray;
}

.nav-menu-items {
  margin-top: 30px;
}

.opennav {
  left: 3;
  width: 25%;
  font-size: 40px;
  cursor: pointer;
}

.closenav {
  position: absolute;
  top: 0.5;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
  color: white;
}

#body-closenav {
  transition: margin-left .5s;
  padding: 16px;
}

/* subheader until header pg title  */
p
.subheader {
  padding-left: 2px;
  font-family: "Chilly";
  font-size: large;
  }

/* positioning for login/signup/logout buttons */
.account-btns {
  margin-top: 20px;
  /* margin-left: 88.75%; */
}

/* styling for login/signup/logout buttons */
.login-btn,
.signup-btn,
.logout-btn {
  border: none;
  border-radius: 5px 5px;
  padding: 5px 5px;
  background-color: gray;
  margin: 2px 2px;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 14px;
  text-align: center;
  /* font-weight: bold; */
}

/* hover effect for login/signup/logout buttons */
.login-btn:hover,
.signup-btn:hover,
.logout-btn:hover {
  cursor: pointer;
  color: white;
  opacity: 1;
}

.backtotop-btn {
  position: fixed;
  bottom: 30px;
  right: 40px;
  cursor: pointer;
}

/* footer  */
.footertag {
  bottom: 0;
  width: 100%;
 
  font-size: 12px;
  text-align: center;
  color: gray;
  font-size: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
  
 
}
.homepgcontainer {
  border: none;
}

.addaplace-btn {
  border: none;
  border-radius: 5px 5px;
  padding: 5px 5px;
  background-color: gray;
  margin: 2px 2px;
  text-decoration: none;
  color: white;
  margin-left: 1%;
  /* opacity: 0.6; */
}

.addplace-form-input {
  width: 300px;
  height: 75px;
  text-align: center;
  color: black;
  margin-left: 1%;
}

.login-signup-redirect {
  text-align: center;
  padding: 15px 15px;
  border: 1px solid white;
  border-radius: 5px 5px;
  width: 35%;
  backdrop-filter: blur(5px);
}

/* beginning of css for login/signup/contact pg  */
/* container with contact form */
.signup-form,
.login-form,
.contact-form {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid white;
  border-radius: 8px 8px;
  backdrop-filter: blur(3px);
  padding: 15px;
}

/* styling for pg title  */
.signup-pgtitle,
.loginpg-title,
.aboutpg-title,
.contactus-pgtitle {
  padding-bottom: 5px;
  text-align: center;
  color: black;
}

.signup-subtitle,
.login-subtitle,
.contactus-subtitle {
  text-align: center;
  color: black;
  padding-bottom: 10px;
}

/* input containers for each field in signup pg */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon-signuppg,
.icon-loginpg {
  padding: 8px;
  border-radius: 3px 3px;
  background: black;
  color: white;
  min-width: 50px;
  text-align: center;
}

.form-input {
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 3px 3px;
  color: black;
}

.form-input:focus {
  border: 2px solid black;
}

.loginsubmit-btn,
.signupsubmit-btn,
.contactform-submit-btn {
  width: 100%;
  border: none;
  border-radius: 5px 5px;
  padding: 10px 10px;
  background-color: black;
  margin: 2px 2px;
  text-decoration: none;
  color: white;
}

.signup-redirect,
.login-redirect {
  font-size: 12px;
  padding-top: 5px;
  text-align: center;
}

.success-msg {
  text-align: center;
  color: black;
}

/* beginning of css for about pg */
/* container with about us info  */
.aboutpg-subtitle {
  /* color: black; */
  padding-bottom: 5px;
}

.aboutuspg-div {
  margin-bottom: 50px;
}

.aboutus-section {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 8px 8px;
  background-color: rgb(64, 77, 106);
  padding: 15px;
  text-align: center;
}

.fourloopinladies-p {
  padding-bottom: 10px;
}

.meet-contrib-btn {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 5px 5px;
  padding: 10px 10px;
  margin: 2px 2px;
  text-decoration: none;
  color: white;
  /* opacity: 0.6; */
}

/* container containing indiv cards */
.contrib-cards {
  display: flex;
  width: auto;
  margin-left: 3%;
  margin-right: 3%;
}

/* each card with indiv. about info */
.individual-aboutinfo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 275px;
  border-radius: 10px 10px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  background-color: rgb(64, 77, 106);
}

.nametitle {
  color: white;
  font-size: 28px;
}

/* profile img in indiv. about info */
.profileimg {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

/* container containing contact icon links in indiv. about info */
.contactlinks-container {
  background-color: black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* styling for contact icons in about pg  */
.contactlinks {
  margin: 3px;
}


.indiv-about-p {
  padding: 5px;
  font-size: 15px;
  margin-bottom: 5px;
}

/*font*/
@font-face {
  font-family: "Bloody";   
  src: local("BloodyFont"),
    url("../src/Fonts/BLOODY.ttf") format("truetype");
}

@font-face {
  font-family: "Chilly";   
  src: local("Chilly"),
    url("./Fonts/ChillyUIBold.ttf") format ("truetype");
}

#menuBtn {
  margin: 0;
  position: fixed;
  bottom: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bottomCopyright{
  color:white;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}